################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/serilog_dotnet_core/.vs/serilog_dotnet_core
/.vs
/serilog_dotnet_core/serilog_dotnet_core/bin/Debug/net8.0
/serilog_dotnet_core/serilog_dotnet_core/obj
